sudo: false
language: node_js
node_js:
  - "10"
branches:
  only:
    - master
cache:
  directories:
    - node_modules
install:
  - yarn install
script:
  - yarn test
  - yarn coverage
jobs:
  include:
    - stage: Produce Coverage
      node_js: node
      script: yarn coverage

